<!DOCTYPE html>

<html lang="zh-cn">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="/static/favicon.ico">
    </head>
    <body>
        <h1>界面遭到了 橄榄 打击！</h1>
        <hr style="margin-top: 20px;margin: bottom 20px;">
        <code style="background-color: gray;color: white;">{{error_msg}}</code>
        <p><a href="/">了解更多关于 橄榄 的内容（暂不可用）</a></p>
        <hr style="margin-top: 20px;margin: bottom 20px;">
        <p>另请参阅 <a href="https://zh.moegirl.org.cn/Mainpage">萌娘百科</a> 关于 <a href="https://zh.moegirl.org.cn/绿坝娘" target="_blank">绿坝娘</a> 的说明</p>
    </body>
</html>