<!DOCTYPE html>

<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <style>
        html, body {
        width: 100%;
        height: 100%;
    }
    * {
        margin: 0;
        padding: 0;
    }
    </style>
    <link rel="shortcut icon" href="/static/favicon.ico">
</head>
<body background="{{ url_for('static',filename='berkeley.jpg') }}" style="background-repeat: no-repeat;background-size: cover;">
    <div style="background-repeat: no-repeat;background-image: url(/static/senpai.png);background-position: bottom;background-size:50% 50%;width: 300px;height: 300px;margin-left: 50%;margin-top: 20%;transform: translate(-50%,-50%);text-align: center;position: absolute;background-color: rgb(255, 255, 255);border-radius: 10px;border-color: rgb(251, 114, 153);border-width: 1px;">
    <h2>绅士登入</h2><br><br>
        <form name="search" action="/account/login" method="post">
        <input type="text" name="username" placeholder="用户名或邮箱"><br>
        <input type="password" name="pwd" placeholder="密码"><br>
        <input type="submit" value="登入！">
        <!--这里提交的事明文密码！！这就是为什么不要用常用的密码-->
        <hr style="margin-top: 10px;margin-bottom: 10px;">
        <span><a href="/account/exit_login" style="color: rgb(255,0,0);">
            退出登录
        </a></span>
    </form>
    </div>
</body>
</html>